<nav class="navbar navbar-expand-lg navbar-light bg-success border-style">
  <h1><a class="navbar-brand" [routerLink]="['/']"></a></h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav"></ul>
  </div>
  <div class="">
    Ugrasenan
    <button
      class="
        HeaderTw-module-ProfileMenuItem-ltvqF
        HeaderTw-module-ProfileMenuItem_active-x389G
      "
    >
      <a href="https://github.com/ugrasenanv" target="_blank">
        <img
          src="https://ghavatars.staticblitz.com/ugrasenanv.png?size=48"
          alt=""
          class="HeaderTw-module-ProfileMenuAvatar-JX2aH"
          crossorigin="anonymous"
          style=""
      /></a>
    </button>
  </div>
</nav>
