<nav class="navbar navbar-expand-lg navbar-light bg-success border-style">
  <h1><a class="navbar-brand" [routerLink]="['/']"></a></h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create']">Insert Task</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/view']">View All Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/update']">Update Task</a>
      </li> -->
    </ul>
  </div>
  <div class="">
    Ugrasenan
    <button
      class="
        HeaderTw-module-ProfileMenuItem-ltvqF
        HeaderTw-module-ProfileMenuItem_active-x389G
      "
    >
      <img
        src="https://ghavatars.staticblitz.com/ugrasenanv.png?size=48"
        alt=""
        class="HeaderTw-module-ProfileMenuAvatar-JX2aH"
        crossorigin="anonymous"
        style=""
      />
    </button>
  </div>
</nav>
